@use '../../styles/scss/typography.scss';
@use '../../styles/scss/paddings.scss';
@use '../../styles/scss/margins.scss';
@use '../../styles/scss/colors.scss';
@use '../../styles/scss/variables.module.scss';

.#{variables.$prefix}-btn {
  border-radius: 0.4rem;
  padding: paddings.$xs paddings.$sm;
  margin: margins.$xs margins.$xs;

  @include typography.text-regular();

  &.primary {
    border: 0.1875rem solid colors.$accent;
    background-color: colors.$accent;
    color: colors.$tile-text;
    &:hover {
      border-color: colors.$accent--hover;
      background-color: colors.$accent--hover;
    }
  }

  &.secondary {
    border: 0.1875rem solid colors.$accent;
    background-color: transparent;
    color: colors.$accent;
    &:hover {
      border-color: colors.$accent--hover;
      color: colors.$accent--hover;
    }
  }
}
