@use '../../scss/typography.scss';

#typography-main {
  background-color: #d3d3d3;
  color: #000000;
  padding: 1rem;

  h1 {
    @include typography.heading-1();
  }

  h2 {
    @include typography.heading-2();
  }

  h3 {
    @include typography.heading-3();
  }

  h4 {
    @include typography.heading-4();
  }

  p {
    @include typography.text-regular();

    &#bold {
      @include typography.text-bold();
    }

    &#italic {
      @include typography.text-italic();
    }
  }
}
