//Main colors
$game-background: #eee8ea;
$accent-color: #591D2D;
$accent-color-hover: #73263A;

//Text colors
$text: #4d4d4d;
$text-light: #666666;
$tile-text: #ffffff;
$title: #1a1a1a;
$title-hover: #591D2D;
$sub-title: #bda5ab; 
$sbu-title-light: #cdbbc0;

//Board
$board-background: #cdbbc0;
$double-letter: #76A67C;
$tripple-letter: #354f52;
$double-word: #e09f3e;
$tripple-word: #9e2a2b;

//Semantic colors
$danger: #cc0000;
$positive: #1fc600;
$warning: #ffff66;
