@mixin level-1 {
  box-shadow: 0px 4px 5px #00000024, 0px 1px 10px #00000024,
    0px 2px 4px #00000033;
}

@mixin level-2 {
  box-shadow: 0px 9px 12px #00000024, 0px 3px 16px #00000024,
    0px 5px 6px #00000033;
}

@mixin level-3 {
  box-shadow: 0px 16px 24px #00000024, 0px 6px 30px #00000024,
    0px 8px 10px #00000033;
}

@mixin level-4 {
  box-shadow: 0px 24px 38px #00000024, 0px 9px 46px #00000024,
    0px 11px 15px #00000033;
}
