@use './colors.scss';

@mixin rounded-border {
  border-radius: 0.4rem;
}

@mixin focus-visible-outline {
  &:focus-visible {
    outline: 2px solid colors.$accent;
    outline-offset: 2px;
    @include rounded-border();
  }
}
